@charset "UTF-8";
/*
  Trailer
  Author - Fazzo Creative / Calvin Da.
*/
/*
    variables
*/
/*
    base
*/
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", "微軟正黑體", "Microsoft JhengHei", "Arial", sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 1.65em;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  overflow-wrap: break-word;
  word-wrap: break-word; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none; }
  * ul {
    padding: 0 !important; }
    * ul li {
      list-style: none; }

button {
  border: none;
  background: transparent; }

a:hover {
  text-decoration: none; }

.btn {
  border: 1px solid;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.3;
  border-radius: 3px;
  padding: 3px 15px;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  -o-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear; }
  .btn:focus, .btn:hover {
    outline: none;
    color: #ffffff; }
  .btn.active, .btn:active {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .btn:focus:active {
    outline: none; }

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  background-color: #bdc3c7;
  color: rgba(255, 255, 255, 0.75);
  opacity: 0.7;
  filter: alpha(opacity=70);
  cursor: not-allowed; }

.btn [class^="fui-"] {
  margin: 0 1px;
  position: relative;
  line-height: 1;
  top: 1px; }

.btn-xs.btn [class^="fui-"] {
  font-size: 11px;
  top: 0; }

.btn-hg.btn [class^="fui-"] {
  top: 2px; }

.btn-default {
  color: #C82639;
  background-color: transparent;
  border-color: #C82639; }

.btn-default.active,
.btn-default.hover,
.btn-default:active,
.btn-default:focus,
.btn-default:hover,
.btn-default:active:focus,
.open > .dropdown-toggle.btn-default {
  color: #961423;
  background-color: transparent;
  border-color: #961423; }

.btn-default.active,
.btn-default:active,
.open > .dropdown-toggle.btn-default {
  background: transparent;
  border-color: #C82639; }

.btn-default.disabled,
.btn-default.disabled.active,
.btn-default.disabled.hover,
.btn-default.disabled:active,
.btn-default.disabled:focus,
.btn-default.disabled:hover,
.btn-default[disabled],
.btn-default[disabled].active,
.btn-default[disabled].hover,
.btn-default[disabled]:active,
.btn-default[disabled]:focus,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default,
fieldset[disabled] .btn-default.active,
fieldset[disabled] .btn-default.hover,
fieldset[disabled] .btn-default:active,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default:hover {
  background-color: transparent;
  border-color: #C82639; }

.btn-default .badge {
  color: #C82639;
  background-color: transparent; }

.btn-primary {
  color: #fff;
  background-color: #C82639;
  border: 1px solid #C82639; }

.btn-primary.active,
.btn-primary.hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active:focus,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #961423;
  border-color: #961423; }

.btn-primary.active,
.btn-primary:active,
.open > .dropdown-toggle.btn-primary {
  background: #961423;
  border-color: #961423; }

.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled.hover,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled].active,
.btn-primary[disabled].hover,
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary.hover,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
  background-color: #961423;
  border-color: #961423; }

.btn-primary .badge {
  color: #fff;
  background-color: #C82639; }

.btn-info {
  color: #5E5E5E;
  background-color: transparent; }

.btn-info.active,
.btn-info.hover,
.btn-info:active,
.btn-info:focus,
.btn-info:hover,
.open > .dropdown-toggle.btn-info {
  color: #101010;
  background-color: transparent;
  border-color: #101010; }

.btn-info.active,
.btn-info:active,
.open > .dropdown-toggle.btn-info {
  background: transparent;
  border-color: #101010; }

.btn-info.disabled,
.btn-info.disabled.active,
.btn-info.disabled.hover,
.btn-info.disabled:active,
.btn-info.disabled:focus,
.btn-info.disabled:hover,
.btn-info[disabled],
.btn-info[disabled].active,
.btn-info[disabled].hover,
.btn-info[disabled]:active,
.btn-info[disabled]:focus,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info,
fieldset[disabled] .btn-info.active,
fieldset[disabled] .btn-info.hover,
fieldset[disabled] .btn-info:active,
fieldset[disabled] .btn-info:focus,
fieldset[disabled] .btn-info:hover {
  background-color: transparent;
  border-color: #5E5E5E; }

.btn-info .badge {
  color: #5E5E5E;
  background-color: transparent; }

.btn-info-light {
  color: #3B3B3B;
  background-color: #DDDDDD;
  border-color: #DDDDDD; }

.btn-info-light.active,
.btn-info-light.hover,
.btn-info-light:active,
.btn-info-light:focus,
.btn-info-light:hover,
.open > .dropdown-toggle.btn-info-light {
  color: #AAAAAA;
  background-color: #DDDDDD;
  border-color: #DDDDDD; }

.btn-info-light.active,
.btn-info-light:active,
.open > .dropdown-toggle.btn-info-light {
  background: #DDDDDD;
  border-color: #DDDDDD; }

.btn-info-light.disabled,
.btn-info-light.disabled.active,
.btn-info-light.disabled.hover,
.btn-info-light.disabled:active,
.btn-info-light.disabled:focus,
.btn-info-light.disabled:hover,
.btn-info-light[disabled],
.btn-info-light[disabled].active,
.btn-info-light[disabled].hover,
.btn-info-light[disabled]:active,
.btn-info-light[disabled]:focus,
.btn-info-light[disabled]:hover,
fieldset[disabled] .btn-info-light,
fieldset[disabled] .btn-info-light.active,
fieldset[disabled] .btn-info-light.hover,
fieldset[disabled] .btn-info-light:active,
fieldset[disabled] .btn-info-light:focus,
fieldset[disabled] .btn-info-light:hover {
  background-color: #DDDDDD;
  border-color: #DDDDDD; }

.btn-info-light .badge {
  color: #3B3B3B;
  background-color: #DDDDDD; }

.btn-inverse {
  color: #ffffff;
  background-color: #3B3B3B; }

.btn-inverse.active,
.btn-inverse.hover,
.btn-inverse:active,
.btn-inverse:focus,
.btn-inverse:hover,
.open > .dropdown-toggle.btn-inverse {
  color: #ffffff;
  background-color: #3B3B3B;
  border-color: #3B3B3B; }

.btn-inverse.active,
.btn-inverse:active,
.open > .dropdown-toggle.btn-inverse {
  background: #3B3B3B;
  border-color: #3B3B3B; }

.btn-inverse.disabled,
.btn-inverse.disabled.active,
.btn-inverse.disabled.hover,
.btn-inverse.disabled:active,
.btn-inverse.disabled:focus,
.btn-inverse.disabled:hover,
.btn-inverse[disabled],
.btn-inverse[disabled].active,
.btn-inverse[disabled].hover,
.btn-inverse[disabled]:active,
.btn-inverse[disabled]:focus,
.btn-inverse[disabled]:hover,
fieldset[disabled] .btn-inverse,
fieldset[disabled] .btn-inverse.active,
fieldset[disabled] .btn-inverse.hover,
fieldset[disabled] .btn-inverse:active,
fieldset[disabled] .btn-inverse:focus,
fieldset[disabled] .btn-inverse:hover {
  background-color: #ffffff;
  border-color: #3B3B3B; }

.btn-inverse .badge {
  color: #ffffff;
  background-color: #3B3B3B; }

.btn-danger {
  color: #ffffff;
  background-color: #e74c3c; }

.btn-danger.active,
.btn-danger.hover,
.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover,
.open > .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #ec7063;
  border-color: #ec7063; }

.btn-danger.active,
.btn-danger:active,
.open > .dropdown-toggle.btn-danger {
  background: #c44133;
  border-color: #c44133; }

.btn-danger.disabled,
.btn-danger.disabled.active,
.btn-danger.disabled.hover,
.btn-danger.disabled:active,
.btn-danger.disabled:focus,
.btn-danger.disabled:hover,
.btn-danger[disabled],
.btn-danger[disabled].active,
.btn-danger[disabled].hover,
.btn-danger[disabled]:active,
.btn-danger[disabled]:focus,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger,
fieldset[disabled] .btn-danger.active,
fieldset[disabled] .btn-danger.hover,
fieldset[disabled] .btn-danger:active,
fieldset[disabled] .btn-danger:focus,
fieldset[disabled] .btn-danger:hover {
  background-color: #bdc3c7;
  border-color: #e74c3c; }

.btn-danger .badge {
  color: #e74c3c;
  background-color: #ffffff; }

.btn-success {
  color: #ffffff;
  background-color: #2ecc71; }

.btn-success.active,
.btn-success.hover,
.btn-success:active,
.btn-success:focus,
.btn-success:hover,
.open > .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #58d68d;
  border-color: #58d68d; }

.btn-success.active,
.btn-success:active,
.open > .dropdown-toggle.btn-success {
  background: #27ad60;
  border-color: #27ad60; }

.btn-success.disabled,
.btn-success.disabled.active,
.btn-success.disabled.hover,
.btn-success.disabled:active,
.btn-success.disabled:focus,
.btn-success.disabled:hover,
.btn-success[disabled],
.btn-success[disabled].active,
.btn-success[disabled].hover,
.btn-success[disabled]:active,
.btn-success[disabled]:focus,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success,
fieldset[disabled] .btn-success.active,
fieldset[disabled] .btn-success.hover,
fieldset[disabled] .btn-success:active,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success:hover {
  background-color: #bdc3c7;
  border-color: #2ecc71; }

.btn-success .badge {
  color: #2ecc71;
  background-color: #ffffff; }

.btn-warning {
  color: #ffffff;
  background-color: #f1c40f; }

.btn-warning.active,
.btn-warning.hover,
.btn-warning:active,
.btn-warning:focus,
.btn-warning:hover,
.open > .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #f4d313;
  border-color: #f4d313; }

.btn-warning.active,
.btn-warning:active,
.open > .dropdown-toggle.btn-warning {
  background: #cda70d;
  border-color: #cda70d; }

.btn-warning.disabled,
.btn-warning.disabled.active,
.btn-warning.disabled.hover,
.btn-warning.disabled:active,
.btn-warning.disabled:focus,
.btn-warning.disabled:hover,
.btn-warning[disabled],
.btn-warning[disabled].active,
.btn-warning[disabled].hover,
.btn-warning[disabled]:active,
.btn-warning[disabled]:focus,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning,
fieldset[disabled] .btn-warning.active,
fieldset[disabled] .btn-warning.hover,
fieldset[disabled] .btn-warning:active,
fieldset[disabled] .btn-warning:focus,
fieldset[disabled] .btn-warning:hover {
  background-color: #bdc3c7;
  border-color: #f1c40f; }

.btn-warning .badge {
  color: #f1c40f;
  background-color: #ffffff; }

.btn-embossed {
  -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15); }

.btn-embossed.active,
.btn-embossed:active {
  -webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15); }

.btn-wide {
  min-width: 140px;
  padding-left: 30px;
  padding-right: 30px; }

.btn-link {
  color: #C82639; }

.btn-link:focus,
.btn-link:hover {
  color: #961423;
  text-decoration: underline;
  background-color: transparent; }

.btn-link[disabled]:focus,
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:focus,
fieldset[disabled] .btn-link:hover {
  color: #bdc3c7;
  text-decoration: none; }

.btn-group-hg > .btn,
.btn-hg {
  padding: 6px 20px;
  font-size: 22px;
  line-height: 1.227;
  border-radius: 3px; }

.btn-group-lg > .btn,
.btn-lg {
  padding: 3px 25px;
  font-size: 18px;
  line-height: 1.471;
  border-radius: 3px; }

.btn-group-md > .btn,
.btn-md {
  padding: 6px 35px;
  font-size: 14px;
  line-height: 1.471;
  border-radius: 3px; }

.btn-group-sm > .btn,
.btn-sm {
  padding: 5px 13px;
  font-size: 13px;
  line-height: 1.385;
  border-radius: 3px; }

.btn-group-xs > .btn,
.btn-xs {
  padding: 5px 9px;
  font-size: 12px;
  line-height: 1.083;
  border-radius: 3px; }

.btn-tip {
  font-weight: 300;
  padding-left: 10px;
  font-size: 92%; }

.btn-block {
  white-space: normal; }

.button--xs {
  width: 14px;
  height: 14px; }
  .button--xs .icon {
    width: 8px;
    height: 8px; }

.button--smaller {
  width: 20px;
  height: 20px;
  position: relative;
  top: 3px; }
  .button--smaller .icon {
    width: 20px;
    height: 20px; }

.button--small {
  width: 30px;
  height: 30px; }
  .button--small .icon {
    width: 25px;
    height: 25px; }

.buttonGroup {
  display: inline-block; }
  .buttonGroup .button--small {
    margin: 0 5px;
    display: inline-block;
    vertical-align: middle; }
    .buttonGroup .button--small:last-child {
      margin-right: 0; }
  .buttonGroup .button--middle {
    margin: 0 5px;
    display: inline-block;
    vertical-align: middle; }
    .buttonGroup .button--middle:last-child {
      margin-right: 0; }
  .buttonGroup .button--large {
    margin: 0 5px;
    display: inline-block;
    vertical-align: middle; }
    .buttonGroup .button--large:last-child {
      margin-right: 0; }

.buttonwithLabel .button--middle {
  margin-right: 10px;
  width: auto; }
  .buttonwithLabel .button--middle .icon {
    width: 25px;
    height: 20px; }
  .buttonwithLabel .button--middle .buttonLabel {
    font-size: 18px;
    color: #757575;
    margin: 0 0 0 5px; }
    .buttonwithLabel .button--middle .buttonLabel.is-red {
      color: #C82639;
      font-size: 16px;
      margin: 0; }

.buttonwithLabel .button--small {
  margin-right: 10px;
  width: auto; }
  .buttonwithLabel .button--small .icon {
    width: 18px;
    height: 18px; }
  .buttonwithLabel .button--small .buttonLabel {
    font-size: 14px;
    color: #757575;
    margin: 0 0 0 2px; }
    .buttonwithLabel .button--small .buttonLabel.is-red {
      color: #C82639;
      font-size: 14px;
      margin: 0; }

.inline-list li {
  list-style: none;
  margin-right: 10px;
  float: left; }

.inline-list--footer li {
  margin-right: 20px;
  font-size: 14px; }

.large-column-list {
  padding: 20px 0px; }
  .large-column-list ul {
    overflow-x: auto !important;
    overflow-y: hidden !important;
    white-space: nowrap !important; }
    .large-column-list ul li {
      list-style: none;
      display: inline-block;
      margin: 0 20px;
      text-align: center; }
      @media (min-width: 768px) and (max-width:991px) {
        .large-column-list ul li {
          margin: 0 9px; } }
      .large-column-list ul li img {
        width: 155px; }
        @media (min-width: 768px) and (max-width:991px) {
          .large-column-list ul li img {
            width: 120px; } }
      .large-column-list ul li span {
        display: block;
        margin-top: 15px;
        color: black;
        font-weight: bold; }

.sidebar--authorInfo {
  border-radius: 3px;
  padding: 15px 15px; }
  .sidebar--authorInfo li {
    padding: 15px 0;
    border-bottom: 1px solid #bababa; }
    .sidebar--authorInfo li:last-child {
      border-bottom: 0px; }
  .sidebar--authorInfo p {
    font-size: 14px;
    line-height: 17px;
    margin-top: 14px; }

.headerBlock {
  width: 100%;
  min-height: 300px;
  margin-bottom: 30px; }
  .headerBlock--userProfile {
    background-color: #F6F6F6;
    border-bottom: 1px solid #C6C6C6;
    padding-top: 130px; }

.space-top-main {
  margin-top: 100px; }
  @media (max-width: 767px ) {
    .space-top-main {
      margin-top: 65px; } }

.full-width {
  width: 100%;
  padding: 15px;
  display: inline-block; }

.large-width {
  max-width: 1000px; }

.middle-width {
  max-width: 770px; }

.small-width {
  max-width: 740px; }

.space-top-1 {
  margin-top: 1px; }

.space-top-2 {
  margin-top: 2px; }

.space-top-3 {
  margin-top: 3px; }

.space-top-4 {
  margin-top: 4px; }

.space-top-5 {
  margin-top: 5px; }
  @media (min-width: 992px) and (max-width:1199px) {
    .space-top-5 {
      margin-top: 10px; } }
  @media (min-width: 768px) and (max-width:991px) {
    .space-top-5 {
      margin-top: 10px; } }

.space-top-6 {
  margin-top: 6px; }

.space-top-7 {
  margin-top: 7px; }
  @media (min-width: 768px) and (max-width:991px) {
    .space-top-7 {
      margin-top: 10px; } }

.space-top-8 {
  margin-top: 8px; }

.space-top-9 {
  margin-top: 9px; }

.space-top-10 {
  margin-top: 10px; }

.space-top-15 {
  margin-top: 15px; }

.space-top-20 {
  margin-top: 20px; }

.space-top-25 {
  margin-top: 25px; }

.space-top-30 {
  margin-top: 30px; }

.space-top-35 {
  margin-top: 35px; }

.space-top-40 {
  margin-top: 40px; }

.space-top-45 {
  margin-top: 45px; }

.space-top-50 {
  margin-top: 50px; }

.space-top-55 {
  margin-top: 55px; }

.space-top-60 {
  margin-top: 60px; }

.space-top-65 {
  margin-top: 65px; }

.space-top-70 {
  margin-top: 70px; }

.space-top-75 {
  margin-top: 75px; }

.space-top-80 {
  margin-top: 80px; }

.space-top-85 {
  margin-top: 85px; }

.space-top-90 {
  margin-top: 90px; }

.space-top-95 {
  margin-top: 95px; }

.space-top-100 {
  margin-top: 100px; }

.space-bottom-1 {
  margin-bottom: 1px; }

.space-bottom-2 {
  margin-bottom: 2px; }

.space-bottom-3 {
  margin-bottom: 3px; }

.space-bottom-4 {
  margin-bottom: 4px; }

.space-bottom-5 {
  margin-bottom: 5px; }

.space-bottom-6 {
  margin-bottom: 6px; }

.space-bottom-7 {
  margin-bottom: 7px; }

.space-bottom-8 {
  margin-bottom: 8px; }

.space-bottom-9 {
  margin-bottom: 9px; }

.space-bottom-10 {
  margin-bottom: 10px; }

.space-bottom-15 {
  margin-bottom: 15px; }

.space-bottom-20 {
  margin-bottom: 20px; }

.space-bottom-25 {
  margin-bottom: 25px; }

.space-bottom-30 {
  margin-bottom: 30px; }

.space-bottom-35 {
  margin-bottom: 35px; }

.space-bottom-40 {
  margin-bottom: 40px; }

.space-bottom-45 {
  margin-bottom: 45px; }

.space-bottom-50 {
  margin-bottom: 50px; }

.space-bottom-55 {
  margin-bottom: 55px; }

.space-bottom-60 {
  margin-bottom: 60px; }

.space-bottom-65 {
  margin-bottom: 65px; }

.space-bottom-70 {
  margin-bottom: 70px; }

.space-bottom-75 {
  margin-bottom: 75px; }

.space-bottom-80 {
  margin-bottom: 80px; }

.space-bottom-85 {
  margin-bottom: 85px; }

.space-bottom-90 {
  margin-bottom: 90px; }

.space-bottom-95 {
  margin-bottom: 95px; }

.space-bottom-100 {
  margin-bottom: 100px; }

.space-left-1 {
  margin-left: 1px; }

.space-left-2 {
  margin-left: 2px; }

.space-left-5 {
  margin-left: 5px; }

.space-left-10 {
  margin-left: 10px; }

.space-left-15 {
  margin-left: 15px; }

.space-left-20 {
  margin-left: 20px; }

.space-left-25 {
  margin-left: 25px; }

.space-left-30 {
  margin-left: 30px; }

.space-left-35 {
  margin-left: 35px; }

.space-left-40 {
  margin-left: 40px; }

.space-left-45 {
  margin-left: 45px; }

.space-right-1 {
  margin-right: 1px; }

.space-right-2 {
  margin-right: 2px; }

.space-right-3 {
  margin-right: 3px; }

.space-right-4 {
  margin-right: 4px; }

.space-right-5 {
  margin-right: 5px; }

.space-right-6 {
  margin-right: 6px; }

.space-right-7 {
  margin-right: 7px; }

.space-right-8 {
  margin-right: 8px; }

.space-right-9 {
  margin-right: 9px; }

.space-right-10 {
  margin-right: 10px; }

.space-right-15 {
  margin-right: 15px; }

.space-right-20 {
  margin-right: 20px; }

.space-right-25 {
  margin-right: 25px; }

.space-right-30 {
  margin-right: 30px; }

.space-right-35 {
  margin-right: 35px; }

.space-right-40 {
  margin-right: 40px; }

.space-right-45 {
  margin-right: 45px; }

.space-right-50 {
  margin-right: 50px; }

.min-height-20 {
  min-height: 20px; }

.min-height-50 {
  min-height: 50px; }

.min-height-80 {
  min-height: 80px; }

.min-height-100 {
  min-height: 100px; }

.min-height-150 {
  min-height: 150px; }

.min-height-200 {
  min-height: 200px; }
  @media (min-width: 768px) and (max-width:991px) {
    .min-height-200 {
      min-height: 160px; } }

.min-height-250 {
  min-height: 250px; }

.min-height-300 {
  min-height: 300px; }

.bgGrayLight {
  background-color: #ededed; }

.bgGrayDark {
  background-color: #3b3b3b;
  color: white; }
  .bgGrayDark h1,
  .bgGrayDark h2,
  .bgGrayDark h3,
  .bgGrayDark h4,
  .bgGrayDark h5,
  .bgGrayDark h6 {
    color: white; }

.bgImage-cover {
  background-size: cover; }

.left-divider-line {
  border-left: 1px solid #cccccc; }

.lineDivider {
  padding-right: 0.15em;
  padding-left: 0.15em;
  font-size: 14px; }
  .lineDivider:before {
    color: #dadada;
    content: "｜"; }

.border-right {
  border-right: 1px solid #d0d0d0; }

.border-left {
  border-left: 1px solid #d0d0d0; }

.border-top {
  border-top: 1px solid #d4d4d4; }

.main-header {
  background-color: #ffc82c;
  height: 50px; }
  .main-header .brand-logo {
    position: relative; }
    .main-header .brand-logo .logo-icon {
      position: absolute;
      background-color: black;
      padding: 10px;
      z-index: 10;
      top: 0; }
      .main-header .brand-logo .logo-icon img {
        width: 50px; }
    .main-header .brand-logo .logo-title {
      position: relative; }
      .main-header .brand-logo .logo-title img {
        width: 50px; }
  .main-header .header-inner {
    max-width: 90%;
    margin: 0 auto; }
  .main-header .main-menu li {
    float: left;
    padding: 10px 0;
    margin: 0 20px; }
    .main-header .main-menu li a {
      color: black;
      font-weight: bold;
      font-size: 16px; }
